<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExerciseCRUD.Properties.Settings.Toko_BarangConnectionString"
            connectionString="Data Source=LAPTOP-951J28VL\FEBRIYANTIAZAHRA;Initial Catalog=Toko_Barang;User ID=sa;Password=June2002"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>